<!DOCTYPE html>
<html lang="en">
<head>
    
    <%- include("./partials/head.ejs") %> 
     <title>Add order</title>
</head>
<body>
    <%- include("./partials/nav.ejs") %> 
    <div class="m-3">
        <form action="/order" method="post" enctype="multipart/form-data">
            
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Title</label>
                <input type="text" name="title" class="form-control" id="title" aria-describedby="emailHelp">
            </div>
            <label for="body">Body</label>
                 <textarea name="body" class="form-control mb-3" placeholder="Leave a comment here" id="body"></textarea>
            
            <button type="submit" class="btn btn-primary">Submit</button>
          
    </form>
    </div>
    <%- include("./partials/scripts.ejs") %> 
    
</body>
</html>